{
  "branch_id": "",
  "gui_appl_id": "",
  "env_key": "",
  "alias": "",
  "db_name": "",
  "application_url": "",
  "connected_at": "",
  "relation_id": "",
  "system_company_id": "",
  "system_administration_id": ""
}
